.home {
    background-color: #e6e6e6;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b79ced;
    color: #ffffff;
    .am-search {
      width: 72%;
      background-color: #b79ced !important;
    }
  }
  .am-grid {
    border-bottom: 1px solid #e6e6e6;
  }
  .like{
    margin-top: 20px;
    background-color: #fff;
    padding: 5px;
    .like_one{
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      .like_list{
        display: flex;
      }
      img{
        width: 40%;
        height: 150px;
      }
    }
  }
}
